<nav>
  <ul dir="rtl">
    {% for item in site.data.navigation %}
      <li><a class="line-links" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
    <h3 class="red">Blogroll</h3>

    <li><a class="line-links" href="https://armstrongismlibrary.blogspot.com/">Banned By HWA</a></li>
    <li><a class="line-links" href="https://exitsupportnetwork.com/">Exit Support Network</a></li>
    <li><a class="line-links" href="http://livingarmstrongism.blogspot.com/">Living Armstrongism</a></li>
    <li><a class="line-links" href="https://hwarmstrong.com/">The Painful Truth</a></li>
  </ul>
</nav>
  
<div class="nav-mobile">
  {% for item in site.data.navigation %}
      <a class="line-links" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
</div>